body {
    // background-color: orange;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .fluid-container {
        overflow: hidden;
    }
}

.main-banner {
    display: flex;
    height: 100vh;
    background-color: pink;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}