{% extends "layout.html" %}

{% block head %}
    Homepage
{% endblock head %}

{% block title %}
    <h1 class="lead banner-heading">main heading</h1>
{% endblock title %}

{% block body %}

    <div class="projects">
        <h2>Projects section</h2>
    </div>

   <div class="container-sm mt-4">
    <div class="contact d-flex" id="contact">
        <div class="contactInfo" id="contactInfo">
            <h1 class="contactHeading">Get In Touch</h1>
            <p>For any information, please do not hesitate to call or email using my details below:</p>
            <a href="tel:07394 705450"><i class="fa-solid fa-mobile-screen">07394 705450</i></a>
            <a href="mailto:ellizakodjo@outlook.com"><i class="fa-regular fa-envelope">ellizakodjo@outlook.com</i></a>
        </div>
        <div class="contactForm">           
              
            <form action="/" method="post" class="mt-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingfname" name="fname" placeholder="First name">
                    <label for="floatingfname">First name</label>
                  </div>
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatinglname" name="lname" placeholder="Last name">
                    <label for="floatinglname">Last name</label>
                  </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingemail" name="email" placeholder="name@example.com">
                    <label for="floatingInput">Email</label>
                  </div>
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingphone" name="phone" placeholder="Password">
                    <label for="floatingphone">Phone</label>
                  </div>
                  <div class="form-floating">
                    <textarea class="form-control" name="comments" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Comments</label>
                  </div>
                
            </form>
        </div>
            
    </div>     
   </div>

    
{% endblock body %}